.options {

    margin: 0 1vw;
    margin-bottom: 2vw;
    background-color: #030619;

}



.options h2 {
    font-size: 30px;
    color: #0094FF;
}

@media (max-width: 768px) {
    .options h2 {
        font-size: 20px;
    }
}

@media (max-width: 490px) {
    .options h2 {
        font-size: 10px;
    }
}