.viewBody {
    background-color: #081D3C;
    border-radius: 10px;
    min-height: 400px;
    height: 80vh;
    overflow: auto;
}

.viewRow {
    background-color: #030619;
    border-radius: 20px;
    padding: 20px;
}

.containerRows {
    width: 95%;
}




.widthAdjust {
    width: 75%;
}


@media (max-width: 768px) {
    .ViewButton {
        width: 100%;
    }

    .fontSizeView {
        font-size: 13px;
    }
}


@media (max-width: 480px) {
    .widthAdjust {
        width: 100%;
    }

    .viewBody {
        border-radius: 0px;
    }

}

.messageContent {
    background-color: rgba(49, 49, 49, 0);
}

.messageButton {

    aspect-ratio: 1/1;
    background-color: rgba(49, 49, 49, 0);
}