.btnRed {
    background-color: rgba(0, 0, 0, 0);

    color: #0094FF;
}

.btnGreen {
    background-color: rgba(0, 0, 0, 0);

    color: #0094FF;
}

.btnBluee {
    background-color: rgba(0, 0, 0, 0);
    color: #0094FF;

}