.core{
    background-color: #030619;
    border-radius: 5px;
}

.coreDis{
    margin-top: 30px;
    background-color: #030619;
}

.b{
    aspect-ratio: 1/1;
}

.d{
    aspect-ratio: 4/3;
}

.a{
    aspect-ratio: 10/2;
}

.c{
    aspect-ratio: 1/4;
}

.e{
    aspect-ratio: 5/7;
}