.shell {
    background-color: #081D3C;
    box-sizing: border-box;
    border-radius: 10px;

}

.long {
    min-height: 50vw;
}

.wholeThing {
    margin-top: 250px;
    width: 96%;
}

li {
    list-style-type: none;
}

.panelOP:hover {
    background-color: #11428C;
}


.long h5 {
    font-size: 18px;
}

.blueBtn {
    background-color: rgba(0, 0, 0, 0);
    color: #0094FF;
    border: 2px solid #0094FF;
    padding: 6px 0;
    width: 100%;
}

.redBtn {
    background-color: rgba(0, 0, 0, 0);
    color: #e01212;
    border: 2px solid #e41212;
    padding: 6px;
    width: 100%;
}