.core {
    background-color: #030619;
    border-radius: 5px;
}

.coreDis {
    margin-top: 30px;
    background-color: #030619;
}

.b {
    aspect-ratio: 1/1;
}

.d {
    aspect-ratio: 4/3;
}

.a {
    aspect-ratio: 10/2;
}

.c {
    aspect-ratio: 1/4;
}

.e {
    aspect-ratio: 7/7;
}


.textInput {
    width: 90%;
    height: 80%;
    border-radius: 5px;
    background-color: #081D3C;
    border: #0094FF 1px;
    resize: none;
}

.AddMessageButton {
    background-color: rgba(0, 0, 0, 0);

    font-size: 12px;
    width: 90%;
}

.AddMessageButton:hover {
    background-color: #081D3C;
    border: 2px solid #0094FF;
    color: #0094FF;
    font-size: 12px;
    width: 90%;
}

.totalMessageSec h1 {
    color: #0094FF;
}

.totalMessageSec button {
    font-size: 17px;
    background-color: #11428C;
}

.totalMessageSec button:hover {
    border: 2px solid #0094FF;
    color: #0094FF;
}

.btnBlue {
    color: #0094FF
}