.footerHome {
    background-color: #030619;
    position: relative;
    z-index: 1;
    color: white;

}

.footerHome a {
    color: white;
    text-decoration: none;
}

.bl {
    color: #0094FF;

}

.footerHome ul {
    list-style-type: none;
    padding: 0;
}

.footerHome li {
    padding-top: 30px;
}

.CallBar {
    background-color: #030619;
    color: black;
}

.iconFooter {
    font-size: 80px;
}